<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>



    <body>
        <div class="container">
            <br>
            <div class="jumbotron">
                <h1 
                    class="display-4"> Bem vindo ao sistema de Padel LPRM
                </h1>
                <hr>
                <p class="lead">
                    Esse sistema foi feito para a inscrição e realização dos torneios
                </p>
                <hr class="my-4">
                <p>
                    Para mais informações, acesse nosso contato no botão abaixo
                </p>
                <a class="btn btn-primary btn-lg" href="" role="button">
                    Contato
                </a>
            </div>
        </div>
    </body>


<%- include ('partials/footer.ejs') %>