<%- include ('../partials/header.ejs') %>
<%- include ('../partials/navbar.ejs') %>


<div class="container">
    <!-- mt = margin-top -->
    <!-- mb = margin=botton -->
    <hr>
    <div class="card mt-4">
        <div class="card-header">
            <h2>
                Criação de Usuário
            </h2>
        </div>
        <div class="card-body">
            <form name="registerForm">
                <input class="form-control" type="text" name="name" placeholder="Fulaninho">
                <br>
                <input class="form-control" type="text" name="cpf" placeholder="12345678910">
                <br>
                <input class="form-control" type="email" name="email" placeholder="email@example.com">
                <br>
                <input class="form-control" type="password" name="password" placeholder="*********">
                <br>
                <input class="form-control" type="text" name="sex" placeholder="M">
                <br>
                <input class="form-control" type="text" name="category" placeholder="Beginner">
                <br>
                <input class="form-control" type="number" name="points" placeholder="19">
                <br>
                <button type="submit" class="btn btn-success btn-block">
                    Criar
                </button>
            </form>
        </div>        
    </div>
</div>

<script defer>
    const form = document.forms.registerForm;

    form.addEventListener('submit', async (e) => {
        const { name, cpf, email, password, sex, category, points } = form;

        const response = await fetch('localhost:3000/users/crete', {
            method: 'POST',
            headers: {
                "Content-Type": "application/json;charset=utf-8",
            },
            body: JSON.stringify({
                name,
                cpf,
                email,
                password,
                sex,
                category,
                points,
            }),
        });
    });
</script>

<%- include ('../partials/footer.ejs') %>