<%- include ('../partials/header.ejs') %>
<%- include ('../partials/navbar.ejs') %>
    <hr>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h2>
                    Semi-final
                </h2>
            </div>
        </div>
        <br>
        <h2>
            Confronto 1
        </h2>
        <div class="row">
            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nome 1</th>
                            <th scope="col">Nome 2</th>
                            <th scope="col">Pontuação</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>João</td>
                            <td>Guilherme</td>
                            <td>35</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Nome 1</th>
                            <th scope="col">Nome 2</th>
                            <th scope="col">Pontuação</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>João</td>
                            <td>Guilherme</td>
                            <td>35</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
        </div>

        <hr>

        <h2>
            Confronto 2
        </h2>

        <div class="row">
            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nome 1</th>
                            <th scope="col">Nome 2</th>
                            <th scope="col">Pontuação</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">2</th>
                            <td>João</td>
                            <td>Guilherme</td>
                            <td>35</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Nome 1</th>
                            <th scope="col">Nome 2</th>
                            <th scope="col">Pontuação</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>João</td>
                            <td>Guilherme</td>
                            <td>35</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col col-12">              
                <a href="/chaveamento/final" style="float: right; color: black; text-decoration: none;">
                    Next >>>> 
                </a>
            </div>
        </div>
        <br>    
    </div>

    

    


<%- include ('../partials/footer.ejs') %>